<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../assets/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/custom_css/styles.css">

</head>
<body>
<!-- Sidebar starts here -->
    <div class="sidebar">
        <div class="logo">
            <div class="logo-img">
                <img src="../assets/images/logo.png" alt="logo" class="img-fluid">
            </div>
            <i class="fa fa-bars" id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a href="#">
                    <i class="fa fa-home"></i>
                    <span class="link_name">DashBoard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-file"></i>
                    <span class="link_name">Documents</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span class="link_name">Settings</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-sign-out"></i>
                    <span class="link_name">Logout</span>
                </a>
            </li>
        </ul>
    </div>

 <!-- Sidebar ends here -->


<!-- Home starts here -->
    <div class="home-section">

        <!-- Header Starts here -->
        <div class="header-container m-0  ps-4 pe-4 pt-5 pb-5">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <p class="header-heading" href="#">Welcome to system owner</p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="header_input pb-3">
                        <input type="text" placeholder="Search">
                        <i class="fa fa-search ms-2" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <nav class="navbar navbar-expand-lg ms-auto ">
                        <div class=" w-100">
                            <form class="d-flex w-100">
                                <div class="d-flex flex-wrap ms-auto header_form ">
                                    <div class="header_profile me-2">
                                        <img src="../assets/images/profile.png">
                                    </div>
                                    <div class="header_user ms-1 me-4 my-1 text-light">
                                        <h3>User 123</h3>
                                        <small>Business</small>
                                    </div>
                                    <a href="#" class="notifice_contain">
                                        <div class="dot"></div>
                                        <img src="../assets/images/notifice.png">
                                    </a>
                                </div>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <!--Header ends here-->
        <div class="content">
            <div class="one-content" id="content-one">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="graphBox my-2">
                                <div class="box" >
                                    <div class="table-responsive-lg table-main-box">
                                      <div class="Significant-input-head">
                                          <div class="mt-5 Significant-text">
                                              <h3 class="fw-bold">List</h3>
                                          </div>
                                          <div>
                                            <div class="mt-5 search-bar">
                                              <input type="text" placeholder="Search...">
                                              <button type="submit"><i class="fa fa-search"></i></button>
                                            </div>                
                                          </div>
                                         </div>
                
                                          <!-- code of table is here -->
                            
                                          <table class="table mt-5">
                                              <thead class="fw-bold table-head">
                                                <tr class="fw-bold">
                                                  <th>ID</th>
                                                  <th>Discription</th>
                                                  <th>Risk Level</th>
                                                  <th>Risk Score</th>
                                                  <th>Source</th>
                                                  <th>Type</th>
                                                  <th>Stage</th>
                                                </tr>
                                              </thead>
                                              <tbody class="table-body">
                                                <tr>
                                                  <td>ID</td>
                                                  <td>Description</td>
                                                  <td>
                                                      <div class="ms-auto me-auto level_container">
                                                          <div class="level"></div>
                                                          <h3 class="ms-3 mt-2">low</h3>
                                                      </div>
                                                  </td>
                                                  <td>Risk Score</td>
                                                  <td>Source</td>
                                                  <td>Type</td>
                                                  <td>Stage</td>
                                                </tr>
                                                <tr>
                                                  <td>ID</td>
                                                  <td>Description</td>
                                                  <td>
                                                      <div class="ms-auto me-auto level_container">
                                                          <div class="level"></div>
                                                          <h3 class="ms-3 mt-2">low</h3>
                                                      </div>
                                                  </td>
                                                  <td>Risk Score</td>
                                                  <td>Source</td>
                                                  <td>Type</td>
                                                  <td>Stage</td>
                                                </tr>
                                                <tr>
                                                  <td>ID</td>
                                                  <td>Description</td>
                                                  <td>
                                                      <div class="ms-auto me-auto medium_container">
                                                          <div class="medium"></div>
                                                          <h3 class="ms-3 mt-2">Medium</h3>
                                                      </div>
                                                  </td>
                                                  <td>Risk Score</td>
                                                  <td>Source</td>
                                                  <td>Type</td>
                                                  <td>Stage</td>
                                                </tr>
                                                <tr>
                                                  <td>ID</td>
                                                  <td>Description</td>
                                                  <td>
                                                      <div class="ms-auto me-auto high_container">
                                                          <div class="high"></div>
                                                          <h3 class="ms-3 mt-2">High</h3>
                                                      </div>
                                                  </td>
                                                  <td>Risk Score</td>
                                                  <td>Source</td>
                                                  <td>Type</td>
                                                  <td>Stage</td>
                                                </tr>
                                                <tr>
                                                  <td>ID</td>
                                                  <td>Description</td>
                                                  <td>
                                                      <div class="ms-auto me-auto level_container">
                                                          <div class="level"></div>
                                                          <h3 class="ms-3 mt-2">low</h3>
                                                      </div>
                                                  </td>
                                                  <td>Risk Score</td>
                                                  <td>Source</td>
                                                  <td>Type</td>
                                                  <td>Stage</td>
                                                </tr>
                                                <tr>
                                                  <td>ID</td>
                                                  <td>Description</td>
                                                  <td>
                                                      <div class="ms-auto me-auto medium_container">
                                                          <div class="medium"></div>
                                                          <h3 class="ms-3 mt-2">Medium</h3>
                                                      </div>
                                                  </td>
                                                  <td>Risk Score</td>
                                                  <td>Source</td>
                                                  <td>Type</td>
                                                  <td>Stage</td>
                                                </tr>
                                                <tr>
                                                  <td>ID</td>
                                                  <td>Description</td>
                                                  <td>
                                                      <div class="ms-auto me-auto high_container">
                                                          <div class="high"></div>
                                                          <h3 class="ms-3 mt-2">High</h3>
                                                      </div>
                                                  </td>
                                                  <td>Risk Score</td>
                                                  <td>Source</td>
                                                  <td>Type</td>
                                                  <td>Stage</td>
                                                </tr>
                                                <tr>
                                                  <td>ID</td>
                                                  <td>Description</td>
                                                  <td>
                                                      <div class="ms-auto me-auto level_container">
                                                          <div class="level"></div>
                                                          <h3 class="ms-3 mt-2">low</h3>
                                                      </div>
                                                  </td>
                                                  <td>Risk Score</td>
                                                  <td>Source</td>
                                                  <td>Type</td>
                                                  <td>Stage</td>
                                                </tr>
                                                <tr>
                                                  <td>ID</td>
                                                  <td>Description</td>
                                                  <td>
                                                      <div class="ms-auto me-auto level_container">
                                                          <div class="level"></div>
                                                          <h3 class="ms-3 mt-2">low</h3>
                                                      </div>
                                                  </td>
                                                  <td>Risk Score</td>
                                                  <td>Source</td>
                                                  <td>Type</td>
                                                  <td>Stage</td>
                                                </tr>
                                                <tr>
                                                  <td>ID</td>
                                                  <td>Description</td>
                                                  <td>
                                                      <div class="ms-auto me-auto medium_container">
                                                          <div class="medium"></div>
                                                          <h3 class="ms-3 mt-2">Medium</h3>
                                                      </div>
                                                  </td>
                                                  <td>Risk Score</td>
                                                  <td>Source</td>
                                                  <td>Type</td>
                                                  <td>Stage</td>
                                                </tr>
                                                <tr>
                                                  <td>ID</td>
                                                  <td>Description</td>
                                                  <td>
                                                      <div class="ms-auto me-auto high_container">
                                                          <div class="high"></div>
                                                          <h3 class="ms-3 mt-2">High</h3>
                                                      </div>
                                                  </td>
                                                  <td>Risk Score</td>
                                                  <td>Source</td>
                                                  <td>Type</td>
                                                  <td>Stage</td>
                                                </tr>
                                                <tr>
                                                  <td>ID</td>
                                                  <td>Description</td>
                                                  <td>
                                                      <div class="ms-auto me-auto level_container">
                                                          <div class="level"></div>
                                                          <h3 class="ms-3 mt-2">low</h3>
                                                      </div>
                                                  </td>
                                                  <td>Risk Score</td>
                                                  <td>Source</td>
                                                  <td>Type</td>
                                                  <td>Stage</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                            <!-- pagination code is here -->
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="pagination-text">
                                                    <p>Showing 1 to 12 of 57 entries</p>
                                                </div>
                                                <div class="list-pagination">
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination">
                                                          <li class="page-item"><a class="page-link" href="#"> &#60; &nbsp;Previous</a></li>
                                                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                          <li class="page-item active1" aria-current="page"><a class="page-link active1" href="#">2</a></li>
                                                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                                                          <li class="page-item"><a class="page-link" href="#">5</a></li>
                                                          <li class="page-item"><a class="page-link" href="#">Next&nbsp; 	&gt; </a></li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="graphBox my-2">
                                <div class="box">
                                    <div class="group_container text-center">
                                        <h2 class="mt-5 mb-3"><b>Aggregated risk</b></h2>
                                        <img src="../assets/images/group.png"
                                            class="img-fluid mt-5" style="width: 65%;">
                                        <h1 class="my-4 ">04</h1>
                                        <div class="my-4">
                                            <button class="text-primary">view History</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="box mt-4 py-4" >
                                   <div  class="chart-container">
                                        <canvas id="myChart">
                                            <canvas id="myChart" class="w-25 m-0">

                                            </canvas>
                                        </canvas>
                                   
                                        <div class="Critical_main">
                                            <div class="Critical_container mt-2">
                                                <div class="Critical_div ms-4"></div>
                                                <h5 class="ms-2">Critical</h5>
                                            </div>
                                            <div class="Critical_container mt-2">&nbsp;
                                                <div class="highly_div ms-5"></div>
                                                <h5 class="ms-2">Highly critical</h5>
                                            </div>
                                        </div>
                                        <div class="Critical_main mt-3">
                                            <div class="Critical_container">
                                                <div class="medium_div "></div>
                                                <h5 class="ms-2">Medium</h5>
                                            </div>
                                            <div class="Critical_container">
                                                <div class="low_div "></div>
                                                <h5 class="me-4">&nbsp; &nbsp;&nbsp; Low</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="graphBox my-2">
                                <div class="box">
                                    <div class="performance_monitor p-3 h-100">
                                        <div class="d-flex justify-content-between">
                                            <h5>Vendor Risks over Time</h5>
                                            <p class="light-blue"><span
                                                    style="padding: 1px 8px; border-radius: 3px;"
                                                    class="me-2">.</span>Risks
                                            </p>
                                        </div>
                                        <canvas id="myChart1" class="w-100"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="graphBox my-2">
                                <div class="box">
                                    <div class="chart-container" id="chart-container">
                                        <canvas id="myChart2"></canvas>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="performance_monitor p-3 h-100 ">
                                <h5 class="mt-1 ms-2"><b>Performance monitor</b></h5>
                                <div class="performance_monitor_content">
                                    <p class="pt-4">
                                        performance <br> monitor
                                    </p>
                                </div>
                                <div class="performance_monitor_content_tabs pt-5">
                                    <a href="" class="text-dark"><b>accomplished work</b></a>

                                    <a href="" class="text-dark"><b> workload</b></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="accepted_risk py-1 p-3 ">
                                <h5 class="mt-3 ms-2">accepted risk organizational impact view
                                </h5>
                                <canvas id="second_chart"></canvas>

                                <div class="chart_data">
                                    <p><span>.</span>Hight impact</p>
                                    <p class="red"><span>.</span>Hight impact</p>
                                    <p class="blue"><span>.</span>Hight impact</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Sidebar endshere -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    

<script>
    const ctx = document.getElementById('myChart');

new Chart(ctx, {
type: 'bar',
data: {
labels: ['', '', '', '',],
datasets: [{
    data: [12, 19, 16, 10,],
    backgroundColor: [
    'rgba(82, 92, 229, 1)',
    'rgba(229, 82, 82, 1)',
    'rgba(255, 170, 89, 1)',
    'rgba(53, 201, 151, 1)',
    ]
}]
},
options: {
plugins: {
    legend: {
        display: false
    },
    datalabels: {
        display: false
    },
},
scales: {
    y: {
        grid: {
            display: false,
            borderDash: [1, 1]
        },
        beginAtZero: true  ,
        ticks: {
                fontSize: window.innerWidth <= 768 ? 10 : 14
            }
    },
    x: {
        grid: {
            display: false,
            borderDash: [25, 25]
        },
        ticks: {
                fontSize: window.innerWidth <= 768 ? 10 : 14
            }
    }
    
},
responsive: true
}
});

</script>

<script>
    const data = {
        labels: ['Corporate', 'IT', 'Legal', 'Marketing', 'Isruge'],
        datasets: [{
            label: 'Fruit Count',
            data: [80, 70, 170, 60, 750],
            backgroundColor: [
                 '#4472c4',
                '#ffc000',
                '#939393',
                '#ed7d31',
                '#5b9bd5'
            ],
          
        }]
    };
    
    const config = {
        type: 'bar',
        data: data,
        options: {
            indexAxis: 'y',
            scales: {
                x: {
                    beginAtZero: true,
                    ticks: {
                        fontSize: window.innerWidth <= 768 ? 10 : 14
                    }
                },
                y: {
                ticks: {
                    fontSize: window.innerWidth <= 768 ? 10 : 14
                    }
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Current ATO Status (HVA/Non-HVA)'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 50,
                    top: 0,
                    bottom: 0
                }
            },
            responsive: true,
            maintainAspectRatio: false
        },
    };
    
    const myChart = new Chart(
        document.getElementById('myChart2'),
        config
    );
</script>
<script>
    let ctx1 = document.getElementById("myChart1").getContext("2d");

    let myChart1 = new Chart(ctx1, {
        type: "line",
        data: {
            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "july", "aug", "Sep", "oct", "nov", "dec", ""],
            datasets: [
                {
                    label: "",
                    data: [50, 80, 70, 100, 90, 120, 97, 81, 102, 82, 101, 82, 80, 100, 180],
                    fill: true,
                    backgroundColor: "rgba(170,182,248, 0.5)",
                    borderColor: "#4961F0",
                    lineTension: 0.3,
                    pointRadius: window.innerWidth <= 768 ? 2 : 10,
                    pointStyle: "circle",
                    pointBackgroundColor: "white",
                    pointBorderColor: "blue",
                    pointBorderWidth: 1,
                },
            ],

        },
        options: {
            scales: {
                x: {
                    beginAtZero: true,
                    ticks: {
                        fontSize: window.innerWidth <= 768 ? 10 : 14
                    }
                },
                y: {
                ticks: {
                    fontSize: window.innerWidth <= 768 ? 10 : 14
                    }
                }
            },
        }
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script>
    const ctxss = document.getElementById("second_chart");

    const data_for_second_chart = {
        datasets: [
            {
                label: "Percentage",
                data: [15, 65, 20],
                backgroundColor: ["red", "blue", "orange"],
                datalabels: {
                    color: "#ffff",
                },
            },
        ],
    };

    const config1 = {
        type: "doughnut",
        data: data_for_second_chart,
        plugins: [ChartDataLabels],
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: "top",
                },
                title: {
                    display: false,
                    text: " ",
                },
                datalabels: {
                    color: "#36A2EB",
                    font: {
                        fontSize: 33
                    },
                    formatter: function (value, context) {
                        return value + "%";
                    },
                },
            },
        },
    };
    new Chart(ctxss, config1);
    Chart.register(ChartDataLabels);

    var eveMouseOver = new Event("mouseover");

    var chartEle = document.querySelector("#second_chart");

    chartEle.dispatchEvent(eveMouseOver);
</script>
<script>
    window.onload = function(){
        const sidebar = document.querySelector('.sidebar');
        const closeBtn = document.querySelector('#btn');
        closeBtn.addEventListener('click', function(){
            sidebar.classList.toggle('open')
        })
    }
</script>
    <script src="../assets/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html> 